* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat';
}

body {
    width: 100%;
    height: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #B7E833;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #96c11e86;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(30px);
}
#nav {
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
    gap: 40px;
    padding: 0 135px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 100px;
    width: 100px;
}
 
#nav h4 {
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.415);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 #arrow{
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #A1D121;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -2%;
    bottom: -1%;
    transition: all ease-in-out 0.5s;
}
#page1 #arrow i{
    font-size: 50px;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: #A1D121;

}

#page1 h1 {
    position: relative;
    font-size: 150px;
}

#page1 h1::before {
    /* sudo element */
    content: "EAT. DRINK. PLAY.";
    position:absolute;
    top:-6px;
    left: -6px;
    z-index: -1;
    color: black;
    -webkit-text-stroke: 1px #B7E833;
}

#page1 h2 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#page1 h3 {
    width: 38%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

#page2{
    min-height:100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    position: relative;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
   animation-name:scroll ;
   animation-duration: 25s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 140px;
    color: transparent;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1.5px  #B7E833;
    transition: all linear 0.2s;
}
#scroller h4:hover{
    color:#B7E833;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);

    }
}

#about-us{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 7%;
    position: relative;
    z-index: 9;
}
#about-us img{
    width: 200px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 51%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;

}
#about-us-in h2{
    font-size: 50px;
    margin-bottom: 20px;
}
#card-container{
    /* background-color: red; */
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.card{
    height:80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-position: center;
    background-size: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all ease 0.5s;

}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);
}

#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}
#overlay{
    width: 100%;
    height: 100%;
    background-color:#B7E833;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    position: relative;
    opacity: 0;
    transition: all ease 0.5s;

}
#overlay h4{
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#overlay p{
    padding: 0px 30px;
    color: rgba(0, 0, 0, 0.581);
    position: relative;
    margin-bottom: 30px;
    top: 10px;
    font-weight: 500;
}
#overlay:hover{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left bottom,#34A833,#A1D121);
}
#green-div img{
    width: 14%;
    object-fit: cover;
    height: 100%;
}
#green-div p{
    font-size: 30px;
    width: 43%;
    margin: 15%;
    text-align: center;
}
#page3{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3 .comments-1{
    width: 60%;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    font-weight: 900;
    position: relative;

}
.colon1{
    position: relative;
    width: 4%;
    bottom: 15%;
}
.colon2{
    position: relative;
    width: 4%;
    top: 15%;

}
.comments-1:hover{
}

#page4{
    height:50vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 110px;
    position: relative;

}

.page4-card{
    width:70%;
    height: 40%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}

.page4-card h2{
    width: 100%;
    height: 100%;
    color: black;
    background-color: #b5f020;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    transition: all ease-in-out 0.5s;
}
.page4-card img{
    width:100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease-in-out 0.5s;

}
.page4-card:hover h2{
    background-color: transparent;
}
.page4-card:hover img{
    scale: 1;

}
#page4 h1{
    font-size: 135px;
    position: absolute;
    top: 8%;
    -webkit-text-stroke: 1.5px rgb(206, 242, 204);
    color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#34A833,#A1D121 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: relative;

}
#footer #footer-back-img{
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#footer #logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
    width: 250px;
    /* background-color: red; */
}
#footer #logo img {
    height: 120px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#logo i{
        font-size: 30px;
        color: black;
}
#footer-text1 h4{
    color: black;
    font-size:30px ;
    line-height: 50px;
}
#footer-text2 h4{
    color: black;
    font-size:30px ;
    line-height: 50px;
}
#footer-text3 h4{    
    color: black;
    font-size:27px ;
    line-height: 50px;
}
#footer-text3 p{    
    color: black;
    font-size: 20px;
}



